.timer-container {
    background: linear-gradient(to top, #5F91FF, #FFFFFF, #5F91FF);
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: background 0.5s ease;
    /* Smooth transition */
}

.timer-container.bg-warning {
    background: linear-gradient(to top, #FF9D9F, #FFFFFF, #FF9D9F);
}

@keyframes zoomInOut {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

.timer-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/bgtime.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    transition: background-image 0.5s ease;
    animation: zoomInOut 5s ease-in-out infinite;
}


.timer-container.bg-warning::before {
    background-image: url('../img/alert.png');
    background-repeat: repeat;
    animation: zoomInOut 2s ease-in-out infinite;
}

.progress-ring {
    position: relative;
    width: 320px;
    height: 320px;
    display: flex;
    margin-bottom: 60px;

    .progress {
        transition: stroke-dashoffset 1s linear;
    }

    .timer-text {
        position: absolute;
        font-size: 120px;
        color: #E20026;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.start-button {
    padding: 10px 20px;
    font-size: 32px;
    background-color: #E20026;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-weight: bold;
}

.start-button:hover {
    background-color: #AC001D;
}

.start-button:active {
    transform: scale(0.9);
}

.done-button {
    padding: 10px 20px;
    font-size: 32px;
    background-color: #fff;
    color: #E20026;
    border: 4px solid #E20026;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-weight: bold;
}

.done-button:hover {
    color: #AC001D;
    border: 3px solid #AC001D;
}

.done-button:active {
    transform: scale(0.9);
}

.time-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    text-align: center;
    gap: 20px;

    .bell-icon {
        width: 250px;
    }

    .time-up-text {
        font-size: 72px;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 16px #E20026;
        paint-order: stroke fill;
        letter-spacing: 1px;
    }

    .scan-share-button {
        background-color: #E20026;
        color: #fff;
        padding: 50px 50px;
        font-size: 36px;
        border: none;
        border-radius: 500px;
        cursor: pointer;
        font-weight: bold;
        transition: transform 0.2s ease;
    }

    .scan-share-button:hover {
        background-color: #AC001D;
    }

    .scan-share-button:active {
        transform: scale(0.9);
    }

    .redeem-text {
        font-size: 24px;
        color: #E20026;
        font-weight: bold;
        font-style: italic;
    }
}

@media (max-width: 450px) {
    .modal-overlay {

        .modal-content {
            background: #fff;
            border-radius: 10px;
            padding: 20px;
            width: 350px;

            .modal-icon {
                margin-bottom: 20px;
                height: 80px;
            }

            .modal-text {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .modal-close-button {
                font-size: 24px;
            }
        }
    }

    .time-up-container {
        gap: 40px;

        .bell-icon {
            width: 200px;
        }

        .time-up-text {
            font-size: 45px;
            -webkit-text-stroke: 8px #E20026;
            letter-spacing: 1px;
        }

        .scan-share-button {
            font-size: 36px;
            border: none;
            border-radius: 500px;
            cursor: pointer;
            font-weight: bold;
        }

        .redeem-text {
            font-size: 20px;
        }
    }
}

@media (max-width: 390px) {
    .time-up-container {
        gap: 40px;

        .bell-icon {
            width: 150px;
        }

        .time-up-text {
            font-size: 40px;
            -webkit-text-stroke: 8px #E20026;
            letter-spacing: 1px;
        }

        .scan-share-button {
            font-size: 30px;
            border: none;
            border-radius: 500px;
            cursor: pointer;
            font-weight: bold;
        }

        .redeem-text {
            font-size: 18px;
        }
    }
}

@media (max-width: 320px) {
    .timer-container {
        gap: 50px;

        .progress-ring {
            position: relative;
            width: 320px;
            height: 320px;
            display: flex;


            .progress {
                transition: stroke-dashoffset 1s linear;
            }

            .timer-text {
                position: absolute;
                font-size: 120px;
                color: #E20026;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .start-button {
            padding: 10px 20px;
            font-size: 28px;
            background-color: #E20026;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .time-up-container {
        gap: 20px;

        .bell-icon {
            width: 100px;
        }

        .time-up-text {
            font-size: 28px;
            -webkit-text-stroke: 8px #E20026;
            letter-spacing: 1px;
        }

        .scan-share-button {
            font-size: 20px;
            border: none;
            border-radius: 500px;
            cursor: pointer;
            font-weight: bold;
        }

        .redeem-text {
            font-size: 14px;
        }
    }
}